
-- 0059_hod_fyc_student_dues_rls.sql
-- Allow HOD and FYC to update student_dues (clear accounts and permit)

CREATE POLICY "HOD and FYC can update student_dues" ON student_dues
  FOR UPDATE USING (
    EXISTS (SELECT 1 FROM profiles WHERE id = auth.uid() AND role IN ('hod', 'fyc'))
  );

